@media screen and (min-width: 568px) and (max-width: 823px){
    .banner{
        padding-top: 13px; 
        margin-bottom: .25in;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Windupdance_Event.jpg");
        height: 450px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .banner-text {
        margin-top: 0.5in;     
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
    }
    .tag-line { 
        display: none;
    }
    .featuring{
        padding: 0px;
        padding-bottom: 22px;
        text-transform: uppercase;
        text-align: center;
    }
    .featuring > img{
        height: 90%;
        width: 75%;
    }

    /* registration form */
    .reg-title {
        margin-top: -87px;
        margin-bottom: 10px; 
    }
    .card-2 {
        display: block;
    }
    .card-2 .card-heading {
        width: 100%;
        display: block;
        padding-top: 300px;
        background-position: left center;
    }
    .card-2 .card-body {
        display: block;
        padding: 60px 50px;
    }
    .card-2 .card-body > h2{
        font-size: 1.5rem;
    }
    /* registration form */











}/* @media screen and (min-width: 568px) and (max-width: 640px) */

@media screen and (min-width: 320px) and (max-width: 414px) {
    .banner {
        padding-top: 80px; 
        margin-bottom: .45in;
    }
    .banner-text {
        margin-top: 0.5in;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
    }
    .tag-line{ 
        display: none;
    }
    .banner-text > h1{
        padding-top: 55px;
        font-weight: 700;
        font-size:35px;
    }
    .banner-text > h5{
        font-weight: 700;
        font-size: 1rem;
    }
    .banner-text > p{
        padding-bottom: 80px;
    }
    .banner-text button {
        position: relative;
        bottom: 90px;
        opacity: 0.85;
        font-family: Oswald, sans-serif;
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        color: rgb(70, 64, 64);
        text-transform: uppercase;
        padding: 12px 54px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        background-color: #8B9DC3;
    }
    .banner-text button a {
        text-decoration: none;
        color: black;
    } 
    .banner-text button:hover {
        opacity: 0.65;
        background-color:#8B9DC3;
        color: white;
    }
    .featuring {
        padding: 0px;
        padding-bottom: 22px;
        text-transform: uppercase;
        text-align: center;
    }
    .featuring > img{
        height: 100%;
        width: 100%;
    }
    /* registration form */

    .reg-title {
        margin-top: -87px;
        margin-bottom: 10px; 
    }
    .card-2 {
        display: block;
    }
    .card-2 .card-heading {
        width: 100%;
        display: block;
        padding-top: 300px;
        background-position: left center;
    }
    .card-2 .card-body {
        display: block;
        padding: 60px 50px;
    }
    .card-2 .card-body > h2{
        font-size: 1rem;
    }
    /* registration form */







}/* @media screen and (min-width: 320px) and (max-width: 414px)  */






