body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    left: 30px;
    top:-70px;
    z-index: 5;
}
.topnav {
    overflow: hidden;
    background-color: #000;
}
.topnav > p {
    color: white;
    padding: 12px;
    padding-left: 120px;
}
.top-space {
    margin-top: 0.5in;
}

* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 320px) { 
    .topnav > p {
        color: white;
        padding: 17px;
        padding-left: 120px;
        font-size: small;
    }

}
@media only screen and (max-width: 280px) { 
    .topnav > p {
        color: white;
        padding: 17px;
        padding-left: 120px;
        font-size: x-small;
    }
    .logo{
        margin-left: auto;
        margin-right: auto;
        
        position: relative;
        left: 30px;
        top:-60px;
        z-index: 5;
    }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
