@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
a {
    padding: 14px 16px;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
  }
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-bar{
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2em;
    background-color: #67a9f5;
    color: white;
    text-align: center;
    overflow: hidden;
    /* padding: 16px; */
    top: 0;
    width: 100%;
}
.nav-bar > h3{
    padding: 10px;
}
#top-cards{
    margin-top: 10px;
}
.k-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.k-card {
    width: 190px;
    height: 190px;
    margin: 2%;
}
.k-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.k-card-footer {
    text-align: center;
    border-width: 1px 0 0;
    border-color: inherit;
}

.indicator{
    text-align: center;
    font-size: xx-large;
    padding-top: 2px;
}
.settings-box{
    width: 30%;
    padding: 16px;
    
}
.settings-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #67a9f5;
    color: white;
    text-align: center;
    padding: 10px;
 }
 .footer > p{
    padding: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #top-cards{
        display: none;
    }

   
}
